@charset "UTF-8";

:root {
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --purple: #b473bf;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --grey: #333;
    --white: #fff;
}

/* GENERAL */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--grey);
    font-family: sans-serif;
}

/* COMMON */
p {
    line-height: 1.7;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h1, h2 {
    text-align: center;
}

header,
h1,
h2,
.hero-date {
    font-family: impact, sans-serif;
}

/* LAYOUT */
.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    text-align: center;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header {
    background: var(--grey);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

header a {
    color: var(--white);
    font-size: 1.5rem;
}

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--grey);
    border: 1px solid rgba(255,255,255,.5);
    color: var(--white);
    padding: .5rem 1rem;
}

.main-nav {
    background: var(--grey);
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.main-nav li {
    width: 100%;
    text-align: center !important;
    margin: 1rem 0;
}

.main-nav a {
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
}

.main-nav.open-menu {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* HERO */
#hero {
    background-image: url("../images/hotel_site_01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.hotel-date {
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    padding: .5rem 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ABOUT */
#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    padding: 4rem 1rem;
    margin-top: 1.5rem;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#about img {
    display: block;
    width: 40rem;
    height: auto;
    margin: auto;
    border-radius: 0.5rem;
}

/* NEWS */
#news {
    background-image: url("../images/hotel_site_04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#news h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.news-table {
    width: 100%;
}

.news-table tr {
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.news-table td {
    display: block;
    line-height: 1.5;
}

.news-date {
    color: var(--grey);
    font-size: .875rem;
    padding-top: 1rem;

    margin-bottom: 1.5rem;
}

.news-content {
    color: var(--grey);
    padding-bottom: 1rem;

    margin-bottom: 1.5rem;
}

/* ACCESS */
#access {
    background-image: url("../images/hotel_site_03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#access p {
    padding: 0 1rem;
}

/* FOOTER */
.footer {
    border-top: 1px solid rgba(255,255,255,0.5);
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    color: var(--white);
}

.footer a {
    text-decoration: underline;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* DESKTOP SCREEN STYLES */
@media (min-width: 600px) {


    /* HEADER */
    .btn-menu {
        display: none;
    }

    .main-nav {
        width: 100%;
        position: static;
        display: flex;


        width: auto;
        height: auto;
        overflow: visible;
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background: none;
        padding: 0;
    }

    .main-nav li {
        margin: 0 0 0 1.5rem;
    }

    /* HERO */
    #hero h1{
        font-size: 6.875rem;
    }

    .hero-date {
        font-size: 3rem;
    }

    /* ABOUT */
    #about h2 {
        margin-top: 2.5rem;
    }

    /* NEWS */
    .news-table td {
        display: table-cell;
    }

    .news-date {
        padding: 1.125rem 0 1rem 1rem;
    }

    .news-content {
        padding: 1rem 1rem 1rem 0;
    }

    /* ACCESS */
    #access h2 {
        margin-bottom: 4rem;
    }

    .access-list {
        margin-bottom: 3rem;
    }

    .access-text {
        margin-left: 2rem;
    }

    




}
