/* home */
#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: flex-start;

    background: url("/images/hotel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .title {
        display: flex;
        & h1 {
            font-size: 10rem;
            color: var(--light-white);
        }
    }

    @media (max-width: 768px) {
    .title {
        & h1 {
            font-size: 3rem;
        }
    }
  }
}
