@charset "UTF-8";

/* scss */
@use 'loading';
@use 'header';
@use 'footer';
@use 'home';
@use 'about';
@use 'contact';

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* color */
:root {
  --light-white: #fff;
  --dark-white: #f0f0f0;
  --light-black: #2d2d2d;
  --dark-black: #000;
  --grey: #ccc;
  --orange: #ed8762;
}
