@charset "UTF-8";

:root {
    --white: #fff;
    --black: #000;
}
/* GENERAL */



/* HERO */
#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    background: linear-gradient(90deg, #4db1ec, #a2e29b);
    padding: 5rem;
}

.site_name {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.heroLeft h1 {
    font-size: 4rem;
    color: var(--black);
}

.heroRight img {
    max-height: 25rem;
}


/* ABOUT */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #4db1ec, #a2e29b); 
    padding: 3rem 6rem;
}

.aboutLeft h2 {
    font-size: 3rem;
}

.aboutLeft p {
    font-size: 1rem;
    padding-right: 1rem;
}

.aboutRight img {  
    max-height: 27rem;
    border-radius: 25% 10%;
}


/* CATEGORY */
#category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, #4db1ec, #a2e29b);
    padding: 5rem;
}

.categoryContainer {
    margin-bottom: 1rem;
}

.categoryContainer h2 {
    font-size: 3rem;
}

.categoryImages {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    gap: 3rem;
}

.categoryImages img {
    max-height: 30rem;
    border-radius: 5% 15%;
}

.btn {
    background: linear-gradient(125deg, #b3e5fc, #b2ebf2);
    border: none;
    padding: 12px 24px;
    border-radius: 9999px;
    font-weight: bold;
}

.btn:hover {
    background: linear-gradient(125deg, #81d4fa, #80deea);
}

/* HELP */
#help {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    background: linear-gradient(90deg, #4db1ec, #a2e29b);
    padding: 5rem;
}

.helpContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

.helpLeft-top h2 {
    font-size: 3rem;
    color: var(--black);
    margin: 0;
}

.helpLocation p {
    margin: 0;
}

.helpImages img {
    max-height: 30rem;
    border-radius: 5% 15%;
}

/* CONTACT */
#contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, #4db1ec, #a2e29b); 
    padding: 5rem;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contactLeft {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.contactLeft h2 {
    font-size: 3rem;
    color: var(--black);
    margin: 0;
}


.contactRight {
    width: 50%;
}

.contactDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    gap: 10rem;
    margin-bottom: 3rem;
}

.contactColumn h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 0;
    margin-bottom: 2rem;
}

.contactColumn p {
    font-size: 1rem;
    color: var(--black);
}

.contactEmail {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

/* TABLETS */
@media(min-width: 768px) and (max-width: 1024px) {

    /* HERO */

    /* ABOUT */

    /* CATEGORY */

    /* HELP */

    /* CONTACT */
}


/* PHONE */
@media(max-width: 767px) {

    /* HERO */
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
    }

    .heroLeft h1 {
        font-size: 3.5rem;
    }

    .heroRight img {
        max-height: 20rem;
    }


    /* ABOUT */
    #about {
        display: flex;
        flex-direction: column;
    }

    .aboutLeft h2 {
        font-size: 2.5rem;
    }

    .aboutRight img {
        max-height: 20rem;
        border-radius: 25% 10%;
    }


    /* CATEGORY */
    #category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categoryContainer h2 {
        font-size: 2.5rem;
    }

    .categoryImages {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 3rem;
    }

    .categoryImages img {
        max-height: 25rem;
        border-radius: 5% 15%;
    }

    /* HELP */
    #help {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .helpImages img {
        max-height: 20rem;
        border-radius: 5% 15%;
    }


    /* CONTACT */
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactLeft h2 {
        font-size: 2.5rem;
    }

    .contactColumn h3 {
        font-size: 2rem;
    }

    .contactEmail {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}