@charset "UTF-8";

* {
    margin: 0;
    font-size: 100%;
}

#hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    color: hsl(237deg 74% 33% / 61%);
    font-size: 5rem;
}


#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
