<section class="hero">
    <div class="hero-frame">
        <div class="heroText">
            <h1>Rikuto Mikado</h1>
            <p>
                <span class="highlight-olive">LEARNING TO</span> BE A FULL-STACK DEVELOPER.<br>
                CODING FROM SNOWY <span class="highlight-olive">HOKKAIDO, JAPAN.</span>
            </p>
            
            <div class="social-icons">
                <a href="https://instagram.com/" target="_blank">
                    <img src="/images/instagram.svg" alt="Instagram" />
                </a>
                
                <a href="https://facebook.com/" target="_blank">
                    <img src="/images/facebook.svg" alt="Facebook" />
                </a>
                
                <a href="https://twitter.com/" target="_blank">
                    <img src="/images/twitter-x.svg" alt="Twitter" />
                </a>
                
                <a href="https://linkedin.com/" target="_blank">
                    <img src="/images/linkedin.svg" alt="LinkedIn" />
                </a>
            </div>
        </div>
        
        <div class="intro-image">
            <img src="/images/myphoto.png" alt="My Photo" />
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-frame">
        <div class="intro-image">
            <img src="/images/mybird.png" alt="My Bird" />
        </div>
        
        <div class="heroText">
            <p>
                <span class="highlight-olive">I find deep joy</span> in building creative tools and experiences that not only spark inspiration 
                but also address practical, real-world challenges <span class="highlight-olive">in meaningful ways.</span>
            </p>
            <p>
                <span class="highlight-olive">I'm currently diving</span> into full-stack web development, experimenting with dynamic data
                 visualization techniques, and expressing ideas through creative writing to broaden both 
                 my technical and artistic horizons.
            </p>
            <p>
                <span class="highlight-olive">As a self-taught</span> and endlessly curious individual, I thrive on continuous learning,
                 constantly seeking out new technologies, concepts, and perspectives that can expand my <span class="highlight-olive">skills and understanding.</span>
            </p>
        </div>
    </div>
</section>
