<section id="hero">
    <div class="hero-frame">
        <div class="heroText">
            <h1>Rikuto Mikado</h1>
            <p>
                <span class="highlight-olive">LEARNING TO</span> BE A FULL-STACK DEVELOPER.<br>
                CODING FROM SNOWY <span class="highlight-olive">HOKKAIDO, JAPAN.</span>
            </p>
            
            <div class="social-icons">
                <a href="https://instagram.com/" target="_blank">
                    <img src="/images/instagram.svg" alt="Instagram" width="30" height="30">
                </a>
                
                <a href="https://facebook.com/" target="_blank">
                    <img src="/images/facebook.svg" alt="Facebook" width="30" height="30">
                </a>
            
                <a href="https://twitter.com/" target="_blank">
                    <img src="/images/twitter-x.svg" alt="Twitter" width="30" height="30">
                </a>
                
                <a href="https://linkedin.com/" target="_blank">
                    <img src="/images/linkedin.svg" alt="LinkedIn" width="30" height="30">
                </a>
            </div>
        </div>
        
        <div class="intro-image">
            <img src="/images/myphoto.png" alt="">
        </div>
    </div>
</section>