<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-brand">
            <p class="company-name">Phase & Space Inc.</p>
        </div>
        
        <div class="footer-sections">
            <div class="footer-box">
                <h4>Join Our Community</h4>
                <p>5-12-34 Nishidaira, Higashino City</p>
                <p></p>
            </div>
            
            <div class="footer-box">
                <h4>Business Hours</h4>
                <p>Mon-Fri: 9:00 AM – 6:00 PM</p>
                <p>Saturday: 9:00 AM – 12:00 PM</p>
            </div>
            
            <div class="footer-box">
                <h4>Social Media</h4>
                <div class="social-icons">
                    <a href="https://instagram.com/" target="_blank">
                        <img src="/images/instagram.svg" alt="Instagram" />
                    </a>
                    
                    <a href="https://facebook.com/" target="_blank">
                        <img src="/images/facebook.svg" alt="Facebook" />
                    </a>
                    
                    <a href="https://twitter.com/" target="_blank">
                        <img src="/images/twitter-x.svg" alt="Twitter" />
                    </a>
                    
                    <a href="https://linkedin.com/" target="_blank">
                        <img src="/images/linkedin.svg" alt="LinkedIn" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
