<header class="siteHeader">
    <div class="siteHeaderFrame">
        <nav class="primaryNav" aria-label="Primary">
            
            <a href="/" class="nav__link <%= active === 'bio' ? 'is-active' : '' %>">
                BIO
            </a>

            <a href="/portfolio" class="nav__link <%= active === 'portfolio' ? 'is-active' : '' %>">
                PORTFOLIO
            </a>

            <a href="/contact" class="nav__link <%= active === 'contact' ? 'is-active' : '' %>">
                CONTACT
            </a>
            
            <a href="/blog" class="nav__link <%= active === 'blog' ? 'is-active' : '' %>">
                BLOG
            </a>

        </nav>
    </div>
</header>