@charset "UTF-8";

/* COLORS */
:root {
    --light-pink: #fed9c2;
    --light-orange: #ed9876;
    --dark-orange: #fa7e4a;
    --dark-green: #19676b;
    --black: #000;
    --white: #fff;
    --grey: #f0ebe6;
}


/* GENERAL */
html {
    font-size: 100%;
}

body {
    font-family: "Gill Sans", sans-serif;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--black);
    z-index: 10;
    & a {
        text-decoration: none;
        color: var(--white);
        font-size: 1.5rem;
        padding: 1rem;
        display: inline-block;
    }
    & a:hover {
        background-color: var(--white);
        color: var(--black);
    }
}


/* HERO */
#hero {
    height: 100vh;
    background-color: var(--light-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.heroContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.heroText h1 {
    font-size: 3.5rem;
}

.heroImage img {
    width: 15rem;
}

.heroRight img {
    width: 25rem;
}

.heroButton {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #fff;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.btn_green {
    background: var(--dark-green);
    color: var(--white);
}

.btn_orange {
    background: var(--dark-orange);
    color: var(--white);
}



/* LETTER */
#letter {
    height: 100vh;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    .letterContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        padding: 3rem;
        .letterLeft {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .letterImage{
                margin-bottom: 2rem;
                & img {
                    height: 250px;
                    width: 300px;
                }
            }
            .letterTextTop {
                margin-bottom: 2rem;
                & p.letterTextSize {
                    font-size: 1rem;
                    color: var(--light-pink);
                    max-width: 350px;
                }
            }
            .letterTextMiddle {
                margin: 0;
                & p {
                    margin: 0;
                    font-size: 1rem;
                    color: var(--dark-orange);
                }
            }
        }
        .letterRight {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .letterTextBottom {
                & h2 {
                    font-size: 2rem;
                    color: var(--white);
                }
                .letterTextDetails {
                    max-width: 300px;
                }
            }
        }
    }
}

/* LETTER ANIMATION */
.zoom-on-view {
  transition: transform 1s ease;
  transform: scale(1);
  opacity: 0;
}

.zoom-on-view.visible {
  transform: scale(1.05);
  opacity: 1;
}


/* POINT */
#point {
    height: 100vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    .pointContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem;
        .pointLeft {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 50%;
            .pointTitle {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                & h2 {
                    font-size: 2rem;
                    color: var(--dark-green);
                }
            }
            .pointLeftDetails {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                & h3 {
                    font-size: 1.4rem;
                    color: var(--dark-orange);
                    margin: 0;
                }
                & p {
                    font-size: 1rem;
                    color: var(--black);
                }
            }
        }
        .pointRight {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 50%;
            .pointRightContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                .pointRightElementTop {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    & h4 {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }
                .pointRightElementBottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    & h3 {
                        font-size: 1.4rem;
                        color: var(--dark-orange);
                        margin: 0;
                    }
                    & p {
                        font-size: 1rem;
                        color: var(--black);
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* ATTENTION */
#attention {
    height: 100vh;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    .attentionContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
        .attentionLeft {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 50%;
            & h3 {
                font-size: 1.4rem;
                color: var(--light-orange);
                margin: 0;
            }
            & p {
                font-size: 1rem;
                color: var(--white);
                margin: 0;
            }
        }
        .attentionRight {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            & img {
                max-width: 20rem;
            }
        }
    }
}

@media(max-width: 768px) {

    /* HERO */
    #hero {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
    }

    .heroContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .heroLeft {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .heroText h1 {
        font-size: 3rem;
    }
    
    .heroImage img {
        width: 12rem;
    }

    .heroRight img {
        width: 20rem;
    }
    
    .heroButton {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .btn {
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2.5em;
        display: inline-block;
        cursor: pointer;
        border-radius: 6em;
        transition: all 0.2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: black;
        background-color: white;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
            background-color: #fff;
        }
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    .btn_green {
        background: var(--dark-green);
        color: var(--white);
    }
    
    .btn_orange {
        background: var(--dark-orange);
        color: var(--white);
    }


    /* LETTER */
    #letter {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        .letterContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 3rem;
            .letterLeft {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .letterImage{
                    margin-bottom: 2rem;
                    & img {
                        height: 200px;
                        width: 250px;
                    }
                }
                .letterTextTop {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 2rem;
                    & p.letterTextSize {
                        font-size: 1rem;
                        color: var(--light-pink);
                        max-width: 350px;
                    }
                }
                .letterTextMiddle {
                    margin: 0;
                    & p {
                        margin: 0;
                        font-size: 1rem;
                        color: var(--dark-orange);
                    }
                }
            }
            .letterRight {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                .letterTextBottom {
                    & h2 {
                        font-size: 1.5rem;
                        color: var(--white);
                    }
                    .letterTextDetails {
                        max-width: 300px;
                    }
                }
            }
        }
    }


    /* POINT */


    /* ATTENTION */
    #attention {
        height: 100vh;
        background-color: var(--dark-green);
        display: flex;
        align-items: center;
        justify-content: center;
        .attentionContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            padding: 3rem;
            .attentionLeft {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                & h3 {
                    font-size: 1.4rem;
                    color: var(--light-orange);
                    margin: 0;
                }
                & p {
                    font-size: 1rem;
                    color: var(--white);
                    margin: 0;
                }
            }
            .attentionRight {
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    max-width: 20rem;
                }
            }
        }
    }


}