/* COLORS */
:root {
  --light-pink: #fed9c2;
  --light-orange: #ed9876;
  --dark-orange: #fa7e4a;
  --dark-green: #19676b;
  --black: #000;
  --white: #fff;
  --grey: #f0ebe6;
}

/* GENERAL */
html {
  font-size: 100%;
}

body {
  font-family: "Gill Sans", sans-serif;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--black);
  z-index: 10;
}
header a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
}
header a:hover {
  background-color: var(--white);
  color: var(--black);
}

/* HERO */
#hero {
  height: 100vh;
  background-color: var(--light-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.hero_name {
  margin-bottom: 2rem;
}
.hero_name img {
  width: 200px;
  height: auto;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heroText h1 {
  font-size: 3.5rem;
}

.heroImage img {
  width: 15rem;
}

.heroRight img {
  width: 25rem;
}

.heroButton {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn_green {
  background: var(--dark-green);
  color: var(--white);
}

.btn_orange {
  background: var(--dark-orange);
  color: var(--white);
}

/* LETTER */
#letter {
  height: 100vh;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
#letter .letterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
}
#letter .letterContainer .letterLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#letter .letterContainer .letterLeft .letterImage {
  margin-bottom: 2rem;
}
#letter .letterContainer .letterLeft .letterImage img {
  height: 250px;
  width: 300px;
}
#letter .letterContainer .letterLeft .letterTextTop {
  margin-bottom: 2rem;
}
#letter .letterContainer .letterLeft .letterTextTop p.letterTextSize {
  font-size: 1rem;
  color: var(--light-pink);
  max-width: 350px;
}
#letter .letterContainer .letterLeft .letterTextMiddle {
  margin: 0;
}
#letter .letterContainer .letterLeft .letterTextMiddle p {
  margin: 0;
  font-size: 1rem;
  color: var(--dark-orange);
}
#letter .letterContainer .letterRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#letter .letterContainer .letterRight .letterTextBottom h2 {
  font-size: 2rem;
  color: var(--white);
}
#letter .letterContainer .letterRight .letterTextBottom .letterTextDetails {
  max-width: 300px;
}

/* LETTER ANIMATION */
.zoom-on-view {
  transition: transform 0.5s ease;
  transform: scale(1);
  opacity: 0;
}

.zoom-on-view.visible {
  transform: scale(1.05);
  opacity: 1;
}

/* POINT */
#point {
  height: 100vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
#point .pointContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}
#point .pointContainer .pointLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 50%;
}
#point .pointContainer .pointLeft .pointTitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#point .pointContainer .pointLeft .pointTitle h2 {
  font-size: 2rem;
  color: var(--dark-green);
}
#point .pointContainer .pointLeft .pointLeftDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#point .pointContainer .pointLeft .pointLeftDetails h3 {
  font-size: 1.4rem;
  color: var(--dark-orange);
  margin: 0;
}
#point .pointContainer .pointLeft .pointLeftDetails p {
  font-size: 1rem;
  color: var(--black);
}
#point .pointContainer .pointRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 50%;
}
#point .pointContainer .pointRight .pointRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#point .pointContainer .pointRight .pointRightContainer .pointRightElementTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#point .pointContainer .pointRight .pointRightContainer .pointRightElementTop h4 {
  font-size: 1.2rem;
  margin: 0;
}
#point .pointContainer .pointRight .pointRightContainer .pointRightElementBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#point .pointContainer .pointRight .pointRightContainer .pointRightElementBottom h3 {
  font-size: 1.4rem;
  color: var(--dark-orange);
  margin: 0;
}
#point .pointContainer .pointRight .pointRightContainer .pointRightElementBottom p {
  font-size: 1rem;
  color: var(--black);
  margin: 0;
}

/* ATTENTION */
#attention {
  height: 100vh;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
}
#attention .attentionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}
#attention .attentionContainer .attentionLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50%;
}
#attention .attentionContainer .attentionLeft h3 {
  font-size: 1.4rem;
  color: var(--light-orange);
  margin: 0;
}
#attention .attentionContainer .attentionLeft p {
  font-size: 1rem;
  color: var(--white);
  margin: 0;
}
#attention .attentionContainer .attentionRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#attention .attentionContainer .attentionRight img {
  max-width: 20rem;
}

/*# sourceMappingURL=style.css.map */
