body {
  position: relative;
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  color: #ffffff;

  background-image: url("../images/bread_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  height: 100px;
}

.custom-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-list li {
  list-style: none;
}

.custom-list a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 5rem;
}

.logo {
  width: 150px;
  margin: -30px;
}

.passion {
  color: #f5aa3c;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.close-btn {
  display: none; /* デフォルトでは非表示にしておく */
}

@media (max-width: 680px) {
  .hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: 2px solid #f5aa3c;
    color: white;
    margin: -10px;
    border-radius: 6px;
    cursor: pointer;
  }

  #mobile-nav {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    z-index: 999;
    padding: 100px 30px 30px 30px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #mobile-nav.show {
    display: flex;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .custom-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  .custom-list li {
    padding: 1em;
  }

  .custom-list a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .custom-list a:hover {
    color: black !important;
  }

  .logo {
    width: 100px;
    margin: -40px;
  }

  .hero h1 {
    font-size: 4rem;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }
}
