<section id="homeContainer">
    <video class="bg-video" autoplay muted loop playsinline>
        <source src="/images/sea.mp4" type="video/mp4" />
    </video>

    <div class="overlay"></div>
    
    <div class="homeContentBox">
        <h1>BlueHope</h1>
    </div>
</section>

<section id="homeContainer">
    <img src="/images/children.png" alt="Children" class="home-image"/>
    <h2>Your donation can save their lives</h2>
    <div class="donationContent">
        <div class="donationBox">
            <i class="bi bi-1-square"></i>
        </div>
        <div class="donationBox">
            <i class="bi bi-2-square"></i>
        </div>
        <div class="donationBox">
            <i class="bi bi-3-square"></i>
        </div>
        <div class="donationBox">
            <i class="bi bi-4-square"></i>
        </div>
        
    </div>
</section>