<section id="homeContainer">
    <video class="bg-video" autoplay muted loop playsinline>
        <source src="/images/sea.mp4" type="video/mp4" />
    </video>

    <div class="overlay"></div>
    
    <div class="homeContentBox">
        <h1>BlueHope</h1>
    </div>
</section>