<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %> | My Introduction Site</title>
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="loading">
        <div class="spinner"></div>
    </div>

    <%- include('partials/header', { active: active }) %>

    <main>
        <%- body %>
    </main>

    <%- include("partials/footer") %>

    <script src="/js/script.js"></script>
</body>
</html>