

#homeContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .bg-video {
    width: 80%;
    height: auto;
    z-index: -2;
    opacity: 0.85;
    border-radius: 12px;
  }

  .home-image {
    width: 80%;
    height: auto;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .overlay {
    position: absolute;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    border-radius: 12px;
  }

  .homeContentBox {
    position: absolute;
    width: 80%;
    z-index: 1;
    color: white;
    text-align: center;
    
    h1 {
      font-size: 4rem;
      line-height: 1.4;
    }
  }

  .donationContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .donationBox {
      border: 1px solid #000;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    }
  }
}
