<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js News</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">Node.Js News</div>
        <div class="header__search">Search</div>
    </header>

    <div class="wrapper">
        <div class="news">
            <% articles.forEach(function(article, index) { %>
                <a href="#" class="news__card">
                    <h2><%- article.title.rendered %></h2>
                    <p><%- article.excerpt.rendered %></p>
                </a>
            <% }) %>
        </div>
    </div>

    <% articles.forEach(function(article, index) {%>

        <%- article.title.rendered %>
    
    <% }) %>
</body>
</html>