.homeContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    padding-inline: 2rem;

    background: #fceabb;
    
    & img {
        max-height: 400px;
        max-width: 50%;
        border-radius: 80px;
    }

    & h1 {
        font-size: 3rem;
        max-width: 50%;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    @media (max-width: 768px) {
        text-align: flex-start;
        flex-direction: column;
    }
}