@charset "UTF-8";

/* scss */
@use 'loading';
@use 'header';
@use 'footer';
@use 'home';
@use 'about';
@use 'contact';

/* color */
:root {
  --dark-brown: #c49963;
  --light-brown: #faefe0;

  --dark-black: #0A0A0A;
  --light-black: #2E2E2E;

  --dark-white: #E0E0E0;
  --light-white: #FFFFFF;
}

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}