@charset "UTF-8";

:root {
    --teal: #467e82;
    --light-teal: #a4c2c4;
    --dark-teal: #2f4b4c;
    --medium-teal: #507476;
}

html {
    font-size: 100%;
}



/* GELERAL */



/* HERO */
#hero {
    height: 100vh;
    background-color: var(--teal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

/* ABOUT */
#about {
    height: 100vh;
    background-color: var(--light-teal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

/* SERVICES */
#services {
    height: 100vh;
    background-color: var(--teal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

/* FORM */
#form {
    height: 100vh;
    background-image: url(../images/form.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* CONTACT */
#contact {
    height: 100vh;
    background-image: url("../images/contact.png");
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}


