@charset "UTF-8";

:root {
    --teal: #467e82;
    --light-teal: #a4c2c4;
    --dark-teal: #2f4b4c;
    --medium-teal: #507476;
    --white: #fff;
    --grey: #93939393;
    --black: #000;
}

html {
    font-size: 100%;
}



/* GELERAL */



/* HERO */
#hero {
    height: 100vh;
    background-color: var(--teal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.left h1 {
    font-size: 4rem;
    color: var(--white);
}

.left p {
    font-size: 1rem;
    color: var(--white);
}

.right {
    flex: 1;
    height: 100%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT */
#about {
    height: 100vh;
    background-color: var(--light-teal);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 5rem;
}

.about-images {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.about-images img {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about-text h2 {
    font-size: 3rem;
    color: var(--black);
}

.about-text p {
    font-size: 1rem;
    color: var(--black);
}


/* SERVICES */

#services {
    height: 100vh;
    background-color: var(--teal);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    box-sizing: border-box;
}

.services-containers {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-groups {
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
}

.services-groups h3 {
    font-size: 1.5rem;
    color: var(--white);
}

.services-groups p {
    font-size: 1rem;
    color: var(--white);
}

.services-groups img {
    width: 100%;
    height: auto;

}

#services h2{
    font-size: 3rem;
    color: var(--white);
}


/* FORM */
#form {
    position: relative;
    height: 100vh;
    background-image: url(../images/form.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 9999;
}

#form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 34, 0.5);
    
    z-index: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem;
}

.form-container h1 {
    font-size: 4rem;
    color: var(--white);
    z-index: 9998;
}

.form-container button {
    padding: 0.75rem 1.5rem;
    background-color: transparent; 
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 9998;
}

.form-container .VistUsNow {
    font-weight: bold; 
}

.form-container button:hover {
    background-color: var(--grey);
}

/* CONTACT */
#contact {
    position: relative;
    height: 100vh;
    background-image: url("../images/contact.png");
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#contact h2 {
    position: absolute;
    font-size: 3rem;
    color: var(--white);
    top: 2rem;
    left: 2rem;
}

.contact-details {
    display: flex;

}

.contact-details th {
    font-size: 1rem;
    color: var(--white);
}

.contact-details td {
    font-size: 1rem;
    color: var(--white);
}

.contact-details table {
  border-collapse: separate;
  border-spacing: 2rem 2rem;
}


@media(max-width: 768px) {

    /* HERO */
    #hero {
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
    }

    /* ABOUT */
    #about {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        height: auto;
        text-align: center;
    }


    /* SERVICES */



    /* FORM */



    /* CONTACT */


}