* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #fff;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    background-color: green;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}