body {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #f5f4f1;;
}

header img {
    position: relative;
    width: 250px;
}

.main {
    position: relative;
}

.salon-home01 {
    position: relative;
    width: 550px;
}

.salon-home02 {
    position: absolute;
    width: 300px;
}

.vertical-caption01 {
    position: absolute;
    left: 1100px;
    top: 400px;
    font-size: 1rem;
     writing-mode: vertical-rl;
     text-orientation: upright;
     font-family: 'serif';
     justify-content: flex-end;
}