.navbar {
    padding: 10px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

.nav-menu {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    font-size: 0.9rem;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
}

.nav-menu li:hover {
    color: #faa61a;
}