  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-brand">
        <p class="brand-name">COLOR CRUNCH</p>
      </div>

      <div class="footer-info">
        <div class="footer-block">
          <h4>Office</h4>
          <p>1425 Whispering Pines Lane</p>
          <p>TEL：01-2345-6789</p>
          <p>hello@subarashiisaito.co.jp</p>
        </div>
        <div class="footer-block">
          <h4>Business hours</h4>
          <p>Monday–Friday: 9:00 AM – 6:00 PM</p>
          <p>Saturday: 10:00 AM – 2:00 PM</p>
          <p>Sunday: Closed</p>
        </div>
      </div>

      <div class="footer-social">
        <h4>Please register</h4>
        <a href="#"><img src="/images/instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/images/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="/images/twitter-x.svg" alt="X"></a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
