<section class="aboutContainer">
    <div class="aboutContainerBox">
        <h2>About Us</h2>
        <p>
            At MADO-MADO, we believe that great design can make everyday life better. 
            We share cozy, creative, and inspiring ideas for homes and spaces that reflect your personality. 
            Whether you're planning a renovation or just love beautiful visuals, we’re here to spark your imagination.
        </p>
    </div>
    <div class="aboutContainerBox">
        <img src="../images/family.png" alt="">
    </div>
</section>

<section class="aboutContainer">
    <div class="aboutContainerBox">
        <h3>You're Always Welcome Here</h2>
        <p class="section-border">
            We're building a space where designers, creators, and dreamers come together.
        </p>
        <h4>
            MADO-MADO is a curated hub for people who care about beautiful, livable spaces.
            Whether you're planning your next renovation or just seeking inspiration,
            we offer ideas and visuals to help you bring your vision to life.
        </h4>
    </div>
    <div class="aboutContainerBox">
        <h3>Spaces for Work. Spaces for Living.</h3>
        <p class="section-border">
            We showcase designs that support every kind of lifestyle — from focus to fun.
        </p>
        <h4>
            Our featured content highlights cozy corners, creative studios, and vibrant homes.
            Every space tells a story — and we believe good design starts with how you want to feel.
            Let MADO-MADO help you create spaces that reflect you.
        </h4>
    </div>
</section>