<div class="aboutContainer">
    <div class="aboutContainerBox">
        <h2>About Us</h2>
        <p>

        </p>
    </div>
    <div class="aboutContainerBox">
        <img src="../images/family.png" alt="">
    </div>
</div>