@charset "UTF-8";

:root {
  --light-blue: #cce0f5;
  --deep-orange: #f26522;
  --light-orange: #f8a73e;
  --dark-blue: #223a5e;
  --light-grey: #f4f4f4;
  --white: #ffffff;

  --accent-yellow: #fbd437;
  --accent-red: #ff585d;
  --accent-green: #70c28f;

  --primary-font: 'Oswald', sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* LOADING */
#loading {
    background-color: var(--deep-orange);
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
}

#loading-screen {
    background-color: var(--dark-blue);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}

#loading p {
    font-size: 4rem;
    font-family: var(--primary-font);
}

/* HERO */
#hero {
    background-color: var(--light-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-left h1 {
    font-size: 5rem;
}

.hero-right img {
    margin-top: 4rem;
}

.btn {
    background-color: var(--deep-orange);
    color: #fff;
    border-radius: 10px;
    padding: 15px 35px;
    text-decoration: none;
    border: none;
    font-size: 1em;
}

.btn:hover {
    color: var(--white);
    opacity: 0.6;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}


/* ABOUT */
#about {
    background-color: var(--light-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.about-right h2 {
    font-size: 3.5rem;
}

.about-right p {
    font-size: 1.5rem;
}


/* POINT */
#point {
    background-color: var(--deep-orange);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.point-left h2{
    font-size: 3.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 1.5rem;
}

.wrapper h2 {
    font-size: 1.5rem;
}

.wrapper p {
    font-size: 1rem;
}

/* DEMONSTRATION */
#demonstration {
    background-color: var(--light-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.demonstration-container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.demonstration-top h2 {
    font-size: 3.5rem;
    margin-bottom: 6rem;
}

.demonstration-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.demonstration-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1.5rem .5rem 1.5rem;
}

.demonstration-group img {
    max-height: 8rem;
    border-radius: 30px;
}


/* result */
#result {
    background-color: var(--light-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.result-left {
    padding: 1rem;
}

.result-left h2 {
    font-size: 3.5rem;
}

.result-right img {
    max-height: 25rem;
}


/* reference */
#reference {
    background-color: var(--deep-orange);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reference-top h2 {
    font-size: 3.5rem;
    color: var(--white);
}